*{
    margin: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1f1f1f;
}
.title{
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px
}

header {
    background-color: rgb(21, 112, 9);
    padding: 3px;
    color: #fcfcfc;
    text-align: center;
    font-weight: bolder;
}

main{
    padding: 30px 50px;
}

.interact{
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin: auto;
    width: 490px;
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: rgb(21, 112, 9);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color: rgb(42, 0, 71);
}

.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(214, 214, 214);
}

table th,td {
    text-align: left;
    padding: 0px 5px;
    text-align: left;
}

table td img{
    width: 22px;
    
}
table td{
    background-color: white;
}

.center{
    text-align: center;
    
}

table{
    width: 520px;
    margin: auto;
    
}